@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$mainBgColor: #e7e7e7;

@mixin bodyColor {
  background: rgb(6,8,38);
  background: linear-gradient(326deg, rgba(6,8,38,1) 37%, rgba(231,231,231,1) 37%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'sans-serif';
 }

 body {
   background-color: $mainBgColor;
   background-size: cover;
   background-attachment: fixed;
   overflow-x: hidden;
   color: black;
 }

 .container {
   h1 {
     color: black;
   }
 }
