.services, .courses, .about, .overhaul-container, .pre-purchase-container, .fumigation-container, .contact-container {
  h1 {
    font-size: 60px;
    color: black;
  }
}

.services {
  h2, a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: rgb(199, 186, 0);
    cursor: pointer;
  }
}
