@import '../../App.scss';

@mixin footerRow {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 1rem;
}


.footer {
  background-color: rgb(199, 186, 0);
  font-weight: 600;
  width: 100vw;
  .row {
    @include footerRow();
  }
}



.form-control::placeholder {
  font-size: 0.95rem;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.footer-links {
  padding: 5px 10px;
}

.footer-links > a {
  color: black;
  padding: 5px 10px;
  padding-top: 2rem;
}

.footer-links:hover {
  border-radius: 4px;
  transition: ease-in 200ms;
}

.footer-links > a:hover {
  color: #666666 !important;
  text-decoration: none;
}

.footer-title > h1 {
    font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: black;
}
